language: php
php:
  - 7.0
  - 7.1
  - 7.2
  - nightly
  - hhvm
before_script:
  - composer self-update
  - composer install --dev
script: vendor/bin/phpunit --configuration tests/phpunit.xml --coverage-clover tests/clover.xml
after_script:
  - php vendor/bin/coveralls
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover tests/clover.xml
matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
    - php: hhvm